@use "@/styles/utils.scss" as *;

:global
.titchy.screen.auth {
  align-items: stretch;
  justify-content: center;
}

.content {
  flex-wrap: wrap;
  justify-content: center;
  min-height: fit-content;
  gap: 20px;
  margin: 20px;

  @include small-screen { flex-direction: column; }
  @include wide-screen  { flex-direction: row;    }

  :global {
    .titchy.panel.logo-container {
      @include flex-center();
      background-color: C(secondary, 5%);

      .home-link {
        @include flex-center();
        @include small-screen { flex-direction: row;    h2 { display: none; } }
        @include wide-screen  { flex-direction: column; h2 { display: flex; } }

        .logo {
          @include size(120px);
        }
      }
    }

    .titchy.panel.auth-container {
      min-width: min(400px, 80dvw);

      @include small-screen { padding: 25px; }
      @include wide-screen  { padding: 35px; }

      > h1 {
        margin-bottom: 20px;
      }

      .titchy.separator.separator {
        margin: 5px 0;
      }
    }

    .titchy.input-wrapper {
      .symbol svg {
        color: C(accent);
      }
    }

    .success {
      gap: 5px;

      h2 {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5ch;
        color: C(accent);

        svg {
          @include size(1em);
          stroke-width: 2.5px;
        }
      }
    }

    .label-content {
      flex-direction: row;
      align-items: center;
      gap: 1ch;

      > svg {
        color: C(accent);
      }
    }

    .error {
      flex-direction: row;
      align-items: center;
      gap: 1ch;

      color: C(danger);
      font-size: 0.8em;

      > svg { @include size(1.5em); }
    }

    .titchy.button.submit {
      align-items: center;
    }

    .link {
      @include small-screen { margin-top: 10px; }
      @include wide-screen  { margin-top: 15px; }
    }
  }
}
