@use "@/styles/fonts.scss";
@use "@/styles/themes.scss";

@use "@/styles/utils.scss" as *;

:root {
  color: C(secondary);
  background-color: C(primary);

  font-family: Montserrat, Alexandria;
  font-synthesis: style small-caps;
  -webkit-font-smoothing: antialiased;

  interpolate-size: allow-keywords;
}

html {
  @include flexbox(true);

  overflow-x: hidden;
  overflow-y: auto;

  -ms-overflow-style: none;
  scrollbar-width: thin;
  &::-webkit-scrollbar { display: none; }

  min-width: 100dvw;
  min-height: 100dvh;

  &[lang="ar"] {
    direction: rtl;
  }
}

body {
  @include flexbox(true);
  min-height: 100vh;
}

content {
  display: contents;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
}

:where(
  header, main, footer,
  nav, section, div,
  form, label, button,
  article, summary, details
) { @include flexbox(true); }

a:where([data-variant=wrapper]) {
  @include flexbox(true);
  color: inherit;
  cursor: pointer;
}

/* ========================================================================== */
/*                                   Titchy                                   */
/* ========================================================================== */

.titchy {
  --titchy-color-primary: var(--fussr-color-primary);
  --titchy-color-accent: var(--fussr-color-accent);
}
