:root[data-theme="default"] {
  // Colors:
  --fussr-color-primary: #001005;
  --fussr-color-secondary: #f1f1f1;

  --fussr-color-accent: #32e978;
  --fussr-color-danger: #e93232;

  // Special Values:
  --fussr-value-safe-inset-top: env(safe-area-inset-top);
  --fussr-value-safe-inset-left: env(safe-area-inset-left);
  --fussr-value-safe-inset-bottom: env(safe-area-inset-bottom);
  --fussr-value-safe-inset-right: env(safe-area-inset-right);

  --fussr-value-border-radius-1: 5px;

  --fussr-value-nav-height-top: 0px;
  --fussr-value-nav-height-bottom: 0px;
}
