:root[data-theme="default"] {
  --fussr-theme-name:   "Default";
  --fussr-theme-scheme: "dark";
  --fussr-theme-assets: "light";

  /*** COlORS ***/
  // Monochrome
  --fussr-color-primary:   #001005;
  --fussr-color-secondary: #f1f1f1;
  --fussr-color-tertiary:  #1f1f1f;
  // Kaleidoscopic
  --fussr-color-accent:  #32e978;
  --fussr-color-success: #0adb3f;
  --fussr-color-danger:  #e93232;

  /*** VALUES ***/
  // Safe Area
  --fussr-value-safe-inset-top:    env(safe-area-inset-top);
  --fussr-value-safe-inset-left:   env(safe-area-inset-left);
  --fussr-value-safe-inset-bottom: env(safe-area-inset-bottom);
  --fussr-value-safe-inset-right:  env(safe-area-inset-right);
  // Radii
  --fussr-value-radius-min: min(0dvh,  0dvw   );
  --fussr-value-radius-1:    5px;
  --fussr-value-radius-2:   10px;
  --fussr-value-radius-3:   25px;
  --fussr-value-radius-max: max(100dvh, 100dvw);
  // Consts
  --fussr-value-navbar-small-width: auto;
  --fussr-value-navbar-small-height: 75px;
  --fussr-value-navbar-wide-width: min(20dvw, 200px);
  --fussr-value-navbar-wide-height: auto;
}
